In [1]:
import sqlite3
import pandas as pd

In [2]:
# File paths
stu_mat_path = "Resources/stu_mat.csv"
stu_por_path = "Resources/stu_por.csv"
db_path = "student_performance.db"

In [3]:
# Load CSV files
df_mat = pd.read_csv(stu_mat_path)
df_por = pd.read_csv(stu_por_path)

# Connect to SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [4]:
# Create tables if they do not exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS student_mat (
    school TEXT, sex TEXT, age INTEGER, address TEXT, famsize TEXT,
    Pstatus TEXT, Medu INTEGER, Fedu INTEGER, Mjob TEXT, Fjob TEXT,
    reason TEXT, guardian TEXT, traveltime INTEGER, studytime INTEGER,
    failures INTEGER, schoolsup TEXT, famsup TEXT, paid TEXT, activities TEXT,
    nursery TEXT, higher TEXT, internet TEXT, romantic TEXT, famrel INTEGER,
    freetime INTEGER, goout INTEGER, Dalc INTEGER, Walc INTEGER, health INTEGER,
    absences INTEGER, G1 INTEGER, G2 INTEGER, G3 INTEGER
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS student_por (
    school TEXT, sex TEXT, age INTEGER, address TEXT, famsize TEXT,
    Pstatus TEXT, Medu INTEGER, Fedu INTEGER, Mjob TEXT, Fjob TEXT,
    reason TEXT, guardian TEXT, traveltime INTEGER, studytime INTEGER,
    failures INTEGER, schoolsup TEXT, famsup TEXT, paid TEXT, activities TEXT,
    nursery TEXT, higher TEXT, internet TEXT, romantic TEXT, famrel INTEGER,
    freetime INTEGER, goout INTEGER, Dalc INTEGER, Walc INTEGER, health INTEGER,
    absences INTEGER, G1 INTEGER, G2 INTEGER, G3 INTEGER
);
''')

In [ ]:
# Insert data into tables (replace existing records)
df_mat.to_sql("student_mat", conn, if_exists="replace", index=False)
df_por.to_sql("student_por", conn, if_exists="replace", index=False)

# Commit and close connection
conn.commit()
conn.close()