In [1]:
import pandas as pd
import sqlite3

In [2]:
stu_math_path = "Resources/stu_mat.csv"
stu_por_path = "Resources/stu_por.csv"

df_mat = pd.read_csv(stu_math_path)
df_por = pd.read_csv(stu_por_path)

# First few rows of each dataset
print("Student Mathematics Dataset:")
display(df_mat.head())
print("Student Portuguese Dataset:")
display(df_por.head())

Student Mathematics Dataset:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Student Portuguese Dataset:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
sqlite_db_path = "student_performance.db"

conn = sqlite3.connect(sqlite_db_path)
cursor = conn.cursor()

In [4]:
create_table_query = """
CREATE TABLE IF NOT EXISTS student_mat (
    school TEXT,
    sex TEXT,
    age INTEGER,
    address TEXT,
    famsize TEXT,
    Pstatus TEXT,
    Medu INTEGER,
    Fedu INTEGER,
    Mjob TEXT,
    Fjob TEXT,
    reason TEXT,
    guardian TEXT,
    traveltime INTEGER,
    studytime INTEGER,
    failures INTEGER,
    schoolsup TEXT,
    famsup TEXT,
    paid TEXT,
    activities TEXT,
    nursery TEXT,
    higher TEXT,
    internet TEXT,
    romantic TEXT,
    famrel INTEGER,
    freetime INTEGER,
    goout INTEGER,
    Dalc INTEGER,
    Walc INTEGER,
    health INTEGER,
    absences INTEGER,
    G1 INTEGER,
    G2 INTEGER,
    G3 INTEGER
);
"""

cursor.execute(create_table_query)

df_mat.to_sql("student_mat", conn, if_exists="replace", index=False)

df_por.to_sql("student_por", conn, if_exists="replace", index=False)

649

In [5]:
conn.commit()
conn.close()

print("SQLite database created successfully.")

SQLite database created successfully.